
/* __________ PAGES TEMPLATE __________ */
/*Header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #b9e4f5;
    height: 100%;
}

html {
    height: 100%;
}

.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}

header {
    background-color: #2687ad;
    color: white;
    text-align: center;
    padding: 20px 0;
    

    position: sticky;/*scrolls with page*/
    top: 0;
    z-index: 1000;

    text-transform: uppercase;
}

.header-top {
    background-color: #2687ad;
    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

 .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

 .logo h1{
    font-size: 3.2rem;
    font-family: "Caveat", cursive;
    color: white;
    margin: 0 ;
 }

 .logo img {
    height: 65px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
 }

 /*navigation*/

 nav {
    margin: 0 20px;
 }
 
 nav ul { 
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    list-style: none;
    padding: 10px 0;
    background-color: #DFF6FF;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.85);
    
 }
 nav li {
    margin: 0 15px;

 }
 nav a{
    display: inline-block;
    
    text-decoration: none;
    color: #06283D;
    font-weight: bold;
    font-size: 1.2rem;

    transition: color 0.3s ease, transform 0.3s ease;    
 }

 nav a:hover {
    color: #4791c2;
    transform: translateY(-2.5px);
 }

 nav a.active {
    color: #4791c2;
    text-decoration-thickness: 2.5px ;
 }

 /*Footer*/
 footer {
    background-color: #06283D;
    color: #DFF6FF;

    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
}

footer a {
    color: #DFF6FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Return to top button*/
.return-top-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: -1px; 
    padding-top: 15px;
}

.return-top {
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 15px; 
    width: 20%;

    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #06283D;

    border: 1px solid rgba(0, 0, 0, 0.158);   
    border-radius: 6px; 
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.button {
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.08);
}

/* __________ PAGE 1: HOME __________ */
/*Home image*/

.home.section-1 {
    background-image: url(../Images/capetown-2295679_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 100%;  
    margin-bottom: 10px;  
}

/*Home Page content*/
.home.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #DFF6FF;

    padding: 30px;
    gap: 30px;
    max-width: 1200px;
    margin: 55px auto; 
    box-shadow: 0px 0px 5px;
    border: 1px solid #4791c271; 
}

.home.section-2 p {
    flex: 1 1 300px;
    padding: 0 15px;
    
    background-color: #dff6ff;
    color: #06283D;

    line-height: 1.5rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 450;
}

/* __________ PAGE 2: BOOKING __________ */

.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #DFF6FF;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 25px;
    box-shadow: 0 0 10px;
}

.booking-image {
    background-image: url(../Images/shore-8683878_1920.jpg);
    background-size: cover;    
    padding: 30px 0;
}

.booking-header {
    text-align: center;
    padding: 20px 10px;   
}

.booking-header > h2 {
    color: #06283d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form label {
    display: block;
    color: #06283D;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 15px;
}

/*inputs / select / textarea / submit / cancel / Placeholder*/
form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;/* Changes font in the text boxes*/

    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 6px;
}
::placeholder {
    color: rgba(0, 0, 0, 0.644);
}

.form-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

form input[type="submit"] {
    background-color: #377aad;
    color: white;

    font-size: 1.1rem;
    cursor: pointer;
}

form input[type="reset"]{
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #e6e5e5;
}

/* Radio buttons*/
.radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.radio-buttons label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

/*fielset and legend*/
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 8px;
    background-color: rgba(220, 220, 220, 0.233);
}

legend {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0px 10px;
    border-radius: 6px;   

    color: white;
    background-color: #4791c2;
}

/* __________ PAGE 3: PLAN A TRIP __________ */
.plan.section-1 h2{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 15px;
    margin: 15px auto ;
    width: 90%;

    border-bottom: 5px solid rgba(6, 40, 61, 0.479);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    color: white;
    background-color: #2687ad;
    text-transform: uppercase;  
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);    
}

.trip-background {
    background-size: cover;
    background-color: #b9e4f5;
    padding: 30px; 
}

table {
    width: 90%;
    padding: 20px 20px;
    margin: 0px auto;

    background-color: #2687ad;
    border: 6px solid #4791c2;
    border-radius: 1px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.445);
    padding: 10px 12px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5;
}

th {
    background-color: #DFF6FF;
    color: #06283D;
    text-align: left;
}

td {
    color: rgba(10, 82, 10, 0.979);
    background-color: #DFF6FF;
}

.symbol.red {
    color: rgb(192, 36, 36);
}

.symbol {
    font-size: 1.2rem;
    font-weight: bold;
}

/* __________ PAGE 4: CULTURE __________ */
.culture.section {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 20px;
    margin: 100px auto;
    width: 90%;

    background-color: #DFF6FF;
    box-shadow: 0 0 10px;    
}

.culture-content  img {
    width: 30%;
    max-width: 300px;
    height: 250px;
    
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    border-bottom: 6px solid #4791c271;
    border-right: 1px solid #4791c271;
    border-left: 1px solid #4791c271;
    border-top: 1px solid #4791c271;
}

.culture-content {
    display: flex;
    flex-wrap: wrap;     
    align-items: center;

    gap: 30px;
    margin: auto;
    margin-left: 0;
    width: 100%;
}

.culture-content.right {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0px;
}

.culture-text {
    flex: 1;

    padding: 20px;
    margin: 30px;
    
    border-radius: 10px;
    border-bottom: 6px solid #4791c271;
    border-right: 1px solid #4791c271;
    border-left: 1px solid #4791c271;
    border-top: 1px solid #4791c271;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    color: #06283D;
    background-color: #dff6ff;
}

.culture-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;    
    color: #06283D;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.culture-text p{
    font-size: 1.1rem;
    padding: 10px;
    line-height: 1.5rem;
    background-color: #DFF6FF;    
}

/* __________ PAGE 5: ATTRACTION __________ */
.attractions-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;

    padding: 30px;
    margin: 30px 30px;
    text-transform: uppercase;

    border-radius: 10px;
    border-bottom: 5px solid rgba(6, 40, 61, 0.479);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
    color: white;
    background-color: #2687ad;   
}

.attractions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 15px;
    padding: 40px;
    margin: 0 auto;
}

.attraction {
    position: relative;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

.attraction img {
    display: block;
    width: 100%;
    height: 200px;

    max-width: 1200px;
    max-height: 200px;

    transition: transform 0.4s ease;
}

.attraction:hover img{
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 10px;
    text-align: center;

    transform: translateY(100%);
    transition: transform 0.4s ease;

    background-color: #06283d9a;
    color: white;    
}

.overlay p {
    font-size: 1.2rem;
    font-weight: 500;
}

.attraction:hover .overlay {
    transform: translateY(0);
}

/* __________ PAGE 6: ABOUT US __________ */

.about-title {
    padding: 80px 0;
    text-align: center;

    background-color: #2687ad;
    color: white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about-title h2{
    font-size: 3.5rem;
}

.about-image {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 80%;
    height: auto;
}

.about-image img{
    max-width: 70%;
    height: auto;
   
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

.about-content {
    max-width: 750px;
    padding: 0 20px;
    font-size: 1.1rem;
    margin: 0 auto 50px auto;
    line-height: 1.5rem;
    color: #06283D;
}

/* __________ RESPONSIVE DESIGN __________ */

/*__________ SMARTPHONES: __________ */

@media screen and (max-width: 767px) {
    /*NAVIGATION AND HEADER ADJUSTMENTS*/
    nav ul {
        flex-direction: column;
        text-align: left;
        width: 100%;
    } 

    nav li {
        margin: 1px 20px;
        
    } 

    nav a {
        font-size: 1rem;
    }
    header {
        position: static;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .logo img {
        height: 50px;
    }
    
    .return-top{
        width: 80%;
        margin: 15px auto
    }

    /* HOME PAGE ADJUSTMENTS*/
    .home.section-1 {
        height: 300px;
        margin-bottom: 0;
    }

    .home.section-2 {
        flex-direction: row;
        margin: 0px;
        padding: 20px;
    }

    .home.section-2 p {
        padding: 0;
        font-size: 1rem;
    }
    
    #Home-return {
        background-color: #DFF6FF;
    }

    /* BOOKING PAGE ADJUSTMENTS*/
    .booking-page {
        max-width: 90%;
        padding: 15px;
        box-shadow: none;
    }

    .booking-header > h2 {
        font-size: 1.8rem;
    }

    form label {
        font-size: 0.9rem;
    }

    .form-buttons {
        flex-direction: column;
    }

    fieldset {
        margin-bottom: 20px;
    }

    /* PLAN A TRIP PAGE ADJUSTMENTS*/
    .plan.section-1 h2 {
        font-size: 1.8rem;
        margin-top: 50px;
        width: 95%;

    }
    table {
        width: 95%;
        margin-top: 15px;
        font-size: 0.83rem;
    }

    th, td {
        padding: 6px;
    }

    .trip-background {
        margin: 0px;
        padding: 0px;
    }

    /* CULTURE PAGE ADJUSTMENTS*/ 
    .culture-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .culture-content.right {
        flex-direction: column;
    }

    .culture-content img {
        width: 80%;
        height: auto;
        max-width: 350px;
    }

    .culture-text {
        margin: 20px 0;

    }

    .culture-text p{
        font-size:1rem;
    }
    /* ATTRACTION PAGE ADJUSTMENTS*/
    .attractions-grid {
        padding: 20px;
    }
    .attractions-title {
        font-size: 1.5rem;
        padding: 20px;
    }

    .overlay p {
        font-size: 1rem;
    }

    /* ABOUT US PAGE ADJUSTMENTS*/
    .about-title h2 {
        font-size: 2rem;
    }

    .about-image {
        height: auto;
    }

    .about-content {
        padding: 0 10px;
        font-size: 0.9rem;
        padding: 0 50px;
    }
}


/*__________TABLETS:__________*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*NAVIGATION AND HEADER ADJUSTMENTS*/

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    nav a {
        font-size: 1rem;
    }

    .logo img {
        height: 50px;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    /* HOME PAGE ADJUSTMENTS*/

    .home.section-1 {
        height: 400px;
    }

    .home.section-2 {
        gap: 20px;
        margin: 30px;
    }

    .home.section-2 p {
        font-size: 1.01rem;
    }

    /* BOOKING PAGE ADJUSTMENTS*/

    .booking-page {
        max-width: 80%;
    }
    
    .booking-header > h2 {
        font-size: 2.2rem;
    }

    /* CULTURE PAGE ADJUSTMENTS*/ 
    .culture-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .culture-content.right {
        flex-direction: column;
    }

    .culture-content img {
        width: 60%;
        height: auto;
        max-width: 400px;
    }

    .culture-text {
        margin: 20px 0;
    }

    .culture-text p {
        font-size: 1.01rem;
    }
    

    /* ABOUT US PAGE ADJUSTMENTS*/
    .about-title h2 {
        font-size: 2.5rem;
    }
    .about-content {
        font-size: 1.01rem;
        max-width: 600px;
    }
}

